.footer-container{
  margin: 0 auto;
  width: 90vmax;
  height: 8vmin;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-container__title{
  font-size: calc(1.5rem + 1vmin);
  line-height: calc(2rem + 1vmin);
  letter-spacing: .3vmin;
}

.footer-container__img-container{
  width: 20%;
  height: inherit;
}

.footer-container__img{
  width: 90%;
  height: inherit;
  padding: 2%;
}

@media (orientation: portrait) {
  .footer-container{
    width: 90vmin;
    height: 8vmax;
  }
  .footer-container__title{
    font-size: calc(1rem + 1vmin);
    line-height: calc(1.2rem + 1vmin);
    letter-spacing: .1vmin;
  }
}