:root{
  --main-TC : rgba(194, 243, 207, 0.918);
  --hover-TC : rgba(79, 179, 140, 0.945);
  --main-bgC : rgba(25, 47, 45, 1);

  --tree-page-color: radial-gradient(109.56% 109.56% at 0% -2.94%, rgba(255, 255, 255, 0.5) 0%, rgba(179, 246, 255, 0.5) 100%);
  --tree-page-color-checked: radial-gradient(109.56% 109.56% at 0% -2.94%, rgba(255, 255, 255, 0.664) 0%, rgba(84, 228, 247, 0.603) 100%);

  --gorizToVertical : 1vmin;
  --verticalToGoriz : 1vmax;
}