.toys-container{
  padding: calc(3 * var(--gorizToVertical)) 0;

  width: 90%;
  height: calc(92 * var(--gorizToVertical));
  margin: 0 auto;

  display: flex;
}

.toys-container__items{
  margin-left: 1%;

  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: space-between;
}

.toys-container__settings{
  width: 25%;
  padding: 0  calc(2 * var(--verticalToGoriz));

}

.toys-container__header, .buttons-container, .settings-Chb-container, .vss-line, .settings-shape-container, .span-container, .checkbox-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.vss-line__icon{
  width: calc(4.5 * var(--gorizToVertical));
  height: calc(4.5 * var(--gorizToVertical));
  padding: 1%;

  background-repeat: no-repeat;
  background-size: cover;

  transition: all .25s ease-in-out;
}

.voluem{
  background-image: url(../assets/svg/audio.svg);
}

.snow{
  background-image: url(../assets/svg/snow.svg);
}

.vss-line__icon:hover, .vss-line__icon.checked {
 filter: drop-shadow(-0.6vmax 0.5vmin 4px var(--hover-TC));
 transform: scale(105%);
}

.vss-line__icon:active{
  filter: drop-shadow(-0.7vmax 0.6vmin 4px var(--hover-TC));
  transform: scale(95%);
}

.search-input, .sort-select{
  background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(36, 197, 219, 0.15) 0%, rgba(70, 200, 218, 0) 100%);
  border: 0.1vmin solid white;
  width: 50%;
  height: 2.5rem;
  padding: 1% 2%;

}
.sort-select{
  width: 95%;
}

.sort-select>option{
  color: black;
}

.settings-big-title{
  padding: calc(1* var(--gorizToVertical)) 0;
  margin-top: calc(1 * var(--gorizToVertical));

  font-size: calc(1rem + 1vmin);
  line-height: calc(1rem + 1.5vmin);

  text-transform: uppercase;
}

.settings-main-title, .tc-item__big-title{
  font-size: calc(1rem + 0.5vmin);
  line-height: calc(1.2rem + 0.7vmin);

  padding: calc(1 * var(--gorizToVertical)) 0;
}

.settings-small-title{
  padding: 0 0.5rem;
}

.settings-shape-item{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.settings-shape-icon{
  min-width: calc(4 * var(--gorizToVertical));
  height: calc(4 * var(--gorizToVertical));

  margin: 10% 0;
  background-repeat: no-repeat;
  background-size: contain;

  transition: all .25s ease-in-out;
}

#bell{
  background-image: url('../assets/svg/bell.svg');
}

#ball{
  background-image: url('../assets/svg/ball.svg');
}

#cone{
  background-image: url('../assets/svg/cone.svg');
}

#snowflake{
  background-image: url('../assets/svg/snowflake.svg');
}

#figure{
  background-image: url('../assets/svg/toy.svg');
}

.settings-shape-item:hover{
  color: rgba(100, 191, 197, 0.945);
  text-decoration: underline;
  filter: drop-shadow(-0.6vmax 0.5vmin 4px var(--hover-TC));
  transform: scale(105%);
}

.settings-shape-item.checked{
  background:rgba(36, 197, 219, 0.15);
  filter: drop-shadow(-0.7vmax 0.6vmin 4px var(--hover-TC));
  border: 0.3vmin solid rgb(245, 220, 220);
}

.settings-shape-item:active{
  filter: drop-shadow(-0.7vmax 0.6vmin 4px var(--hover-TC));
  transform: scale(95%);
}

.settings-Chb-container{
  width: 70%;

  margin-bottom: 5%;
}

#yellow{
  background-color: rgba(228, 231, 21, 0.945);
}
#white{
  background-color: snow;
}
#blue{
  background-color: rgba(37, 139, 146, 0.945);
}
#green{
  background-color: rgba(30, 139, 49, 0.945);
}
#red{
  background-color: rgba(179, 36, 31, 0.945);
}

.color-chb{

  -webkit-appearance: none;
   border: 0.3vmin solid snow;
}

input[type="checkbox"].color-chb{
  width: calc(3.5 * var(--gorizToVertical));
  height: calc(3.5 * var(--gorizToVertical));
}

.color-chb:checked{
  background-image: url('../assets/svg/check.png');
  background-size: cover;
  padding: 2%;
}

.slider-count, .slider-year{
  width: 50%;
  margin: 0 auto;

  height: 1.5rem;
}

.checkbox-container>label{
  line-height: calc(2.5 * var(--gorizToVertical));
  cursor: pointer;
}

.checkbox-container{
  margin-bottom: calc(1.5 * var(--gorizToVertical));
}

.buttons-container{
  margin-top: calc(1.5 * var(--gorizToVertical));
  justify-content: center;
}

.settings-button{
  margin: 2% 0 0 0;
  padding: calc(0.3 * var(--gorizToVertical)) 1rem;

  font-size: calc(1rem + 0.8vmin);
  line-height: calc(1.2rem + 1vmin);
  letter-spacing: 0.3vmin;
  text-align: center;
  text-transform: uppercase;
  color:rgba(10, 67, 75, 0.699);

  border-radius: 30px;

  box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}

.settings-button:hover{
  color: rgba(255, 255, 255, 0.85);
	box-shadow: rgba(10, 67, 75, 0.699) 0px 0px 0px calc(3rem + 2.5vmin)  inset;
}

.settings-button:active{
  color: rgba(255, 255, 255, 0.85);
	box-shadow: rgba(10, 67, 75, 0.699) 0px 0px 0px calc(3rem + 2.5vmin)  inset;
}

.toys-absent-div{
  padding: 9vmin 3rem;

  font-size: calc(1.5rem + 1vmin);
  line-height: calc(2rem + 1.2vmin);
  letter-spacing: 0.2vmin;
  text-align: center;
  text-transform: uppercase;

  background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(36, 197, 219, 0.15) 0%, rgba(36, 197, 219, 0) 100%);
  backdrop-filter: blur(31px);
  border-radius: 30px;

  animation-fill-mode: both;
  animation: rotate 0.4s ease-in-out;
}

@keyframes rotate {
    0% {
      transform: rotate3d(1, 1, 1, 60deg);
    }
    100% {
      transform: rotate3d(0, 0, 0, 120deg);
    }
}

.toys-container__toys{
  width: 65%;
}

.toys-container__header{
 position: sticky;

 height: calc(10 * var(--gorizToVertical));
}

#liked-count{
  color: rgba(236, 190, 40, 0.699);
  font-weight: bold;
}

.toys-container__item{
  width: 24.5%;
  padding: calc(2 * var(--gorizToVertical));
  background-color: cadetblue;
  border-right: 0.3vmin solid snow;
  border-bottom: 0.3vmin solid snow;

  margin-bottom: 2%;

  animation-fill-mode: both;
  animation: rotate 0.9s ease-out;
}

@keyframes rotate {
    0% {
      transform: scale(0%);
    }
    40% {
      transform: scale(100%);
    }
    70% {
      transform: rotateZ(30deg) rotateY(180deg);
      opacity: 70%;

    }
    100% {
      transform: rotateZ(0) rotateY(0);
      opacity: 100%;
    }
}

.toys-container__item:hover{
  transform: scale(1.1, 1.1);
  filter: drop-shadow(0.6vmax 0.5vmin 4px var(--hover-TC));
}

.toys-container__item.checked{
  transform: scale(0.9, 0.9);
  background-color: rgb(67, 129, 131);
}
.toys-container__item.checked:hover{
  transform: scale(1, 1);
}

.toys-container__item.checked:active, .toys-container__item:active{
  transform: scale(0.85, 0.85);
}

.tc-item__img-container{
  width: 60%;
  height: 60%;
  margin: 0 auto;

}

.tc-item__img-container>img{
  width: 100%;
}

.tc-item__small-title{
  line-height: calc(1rem + 0.7vmin);
}


@media (max-width: 1400px) and (orientation: landscape) {
  .toys-container__item{
    width: 27%;
  }

  .toys-container__items{
    justify-content: space-around;
  }

  .slider-count, .slider-year{
    height: 0.8rem;
  }
}

@media (max-width: 1024px) and (orientation: portrait) {
  .toys-container{
    width: 95%;
    flex-direction: column;
    height: calc(92 * var(--verticalToGoriz));
    padding: calc(3 * var(--verticalToGoriz)) 0;
  }
  .toys-container__settings{
    width: 100%;
    overflow: visible;
    padding: 0 calc(2 * var(--gorizToVertical));
  }
  .vss-line__icon{
    width: calc(4.5 * var(--verticalToGoriz));
    height: calc(4.5 * var(--verticalToGoriz));
  }
.settings-big-title{
  padding: calc(1* var(--verticalToGoriz)) 0;
  margin-top: calc(1 * var(--verticalToGoriz));
}
.settings-main-title, .tc-item__big-title{
  padding: calc(1 * var(--verticalToGoriz)) 0;
}
.settings-shape-icon{
  min-width: calc(4 * var(--verticalToGoriz));
  height: calc(4 * var(--verticalToGoriz));
}
input[type="checkbox"].color-chb{
  width: calc(3.5 * var(--verticalToGoriz));
  height: calc(3.5 * var(--verticalToGoriz));
}
.checkbox-container>label{
  line-height: calc(2.5 * var(--verticalToGoriz));
}
.checkbox-container{
  margin-bottom: calc(1.5 * var(--verticalToGoriz));
}

.buttons-container{
  margin-top: calc(1.5 * var(--verticalToGoriz));
  flex-direction: column-reverse;
}

  .toys-container__toys{
    width: 100%;
  }
  .toys-container__item{
    width: 50%;
    padding: calc(2 * var(--verticalToGoriz));
  }

  .tc-item__big-title{
    font-size: calc(0.7rem + 1.3vmin);
    line-height: calc(0.8rem + 1.4vmin);
  }
  .tc-item__small-title{
    padding: 0 0.5rem;

    font-size: calc(0.6rem + 1.1vmin);
    line-height: calc(0.6rem + 1.2vmin);
  }
  .toys-container__header{
    height: calc(15 * var(--verticalToGoriz));
  }
  .settings-button{
    margin: 5% 0 0 0;
    padding: calc(1 * var(--verticalToGoriz)) 2rem;
  }
}
