@import url(../abstracts/variables.css);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -moz-user-select: none;
  -o-user-select:none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
   user-select: none;
}

button{
  border: none;
  color: var(--main-TC);
  cursor: pointer;

  transition: all .3s cubic-bezier(0.390, 0.500, 0.150, 1.360);
}

button:hover{
  transform: scale(105%);
}

button:active{
  transform: scale(95%);
}

a{
  color: var(--main-TC);
  text-decoration: none;
  border: none
}

main, footer{
  background-color: var(--main-bgC);
  overflow-x: hidden;
}

input[type="checkbox"]{
  width: calc(2.5 * var(--gorizToVertical));
  height: calc(2.5 * var(--gorizToVertical));
  margin-right: calc(0.5 * var(--gorizToVertical));
  cursor: pointer;
}

@media (max-width: 1024px) and (orientation: portrait) {
  input[type="checkbox"]{
    width: calc(2.5 * var(--verticalToGoriz));
    height: calc(2.5 * var(--verticalToGoriz));
    margin-right: calc(0.5 * var(--verticalToGoriz));
  }
}
